NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=
COMMENTS_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/1XRg4oFTZYJiA3JK6nPf9FEhKGDfp1ya1VH3pFR4fRBE/export?format=csv
DATABASE_URL=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@rankandfile6787.com
